.indicator {
    background-color: #ffffff;
    width: 6px;
    height: 10px;
    display: inline-block;
    margin-bottom: 1px;
    animation: slide-in 0.7s forwards ease-in-out, blink 1.5s infinite ease-in-out;

  }
  
  .text {
    display: inline-block;
    transition: transform 1s ease-in-out;
  }
  
  .slide-in {
    transform: translateX(18px);
  }

  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
  @keyframes slide-in {
    from {
        transform: translateX(0) ;
      opacity: 0;
    }
    to {
        transform:  translateX(80%) ;
      opacity: 1;
    }
  }
  
  @media (min-width: 768px) {
    .indicator {
      width: 6px;
      height: 10px;
    }
  }
  
  @media (min-width: 1024px) {
    .indicator {
      width: 8px;
      height: 12px;
      margin-bottom: 0;
    }
  }